body::-webkit-scrollbar {
  
  display: none;

}
body{
    margin: 0px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    font-size: 100px;
    font-family: Bebas Neue , cursive;
}
  .container {
    position: relative;
    text-align: center;
    color: white;
}

 /*             NAV BAR               */
 
  /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-radius: 5px;  

}
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: rgb(97, 93, 93);
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }